@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Luckiest+Guy&display=swap');

body {
    background-color: #f8f5ec;
}

.Chapter {
    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    background-color: #FFF4CC;
    text-align: center;

    margin: 2% auto; /* 수평으로 가운데 정렬 (가로축) */
    width: 100%;
    max-width: 1130px;
    min-height: 88vh;
    /* padding-bottom: 30px; */
    padding: 15px;

    border-radius: 15px;

    transition: filter 0.3s ease-in-out;
    position: relative;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*제목이랑 챕터 추가 버튼*/
.Header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px;
    z-index: 10; 
    position: relative;

    margin-bottom: 30px;
}

.VOCA {
font-size: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 챕터추가 버튼 */
.CreateBtn {
    background-color: #0065d1;
    color: white;
    padding: 13px;
    font-size: large;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
}

.CreateBtn:hover {
    background-color: #0a529f;
}

/* 새 챕터 만들기 모달창 */
.ModalOverlay {
    position: fixed;
    top: 20%; /*픽스하고 위에서 20%에 위치하도록*/
    width: 300px;
    height: 200px;
    background-color: white;

    border: 3px solid black;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 모달 창 안에 내용들 */
.Modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1001;
}

/* 새 챕터 만들기 제목 */
.ModalTitle {
    margin: 10px;
}

/* 모달 창 버튼 모음 */
.ModalBtn {
    margin-top: 5%;
    position: relative;
    width: 260px;
}

/* input 태그(근데 왜 className으론 안되지) */
input[type=text] {
    width: 90%;
    height: 30px;
    font-size: 15px;

    margin-bottom: 10px;
}

/* 생성버튼 */
.submitBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 50%;
}

/* 취소버튼 */
.cancelBtn {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.ChapterList {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

/* 퀴즈버튼 */
.QuizArea {
    margin-top: 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.QuizBtn {
    background-color: #0065d1;
    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    width: 100px;

    cursor: pointer;
}

.QuizBtn:hover {
    background-color: #0a529f;
}

.ChapterList {
    width: 1050px;
    border-radius: 10px;
    margin: 20px 0 20px 0;

    overflow-y: auto;
    padding: 15px;

    /* background-color: #FFE5A1; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.LogoutBtn {
    background-color: #dc3545;
    color: white;
}